{% set title = "Catégorie" %}

{% extends 'layout/base.html.twig' %}
{% block body %}
    <div class="listContainer">
        <div class="container" id="addContainer">
            <div class="name"><i class="las la-plus"></i></div>
        </div>
        {% for category in categories %}
            <div class="container">
                <div class="name">{{ category.name }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


