
.las.la-arrow-left {
  font-size: 3em;
}

form {
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 5%;

  input {
    margin: 20px;
  }

  label {
    margin: 20px;
    font-size: 1.1em;
  }

  button {
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
    background-color: rgba(104,159,56,.8);
    padding: 20px;
    margin-top: 5%;
  }
}