.listContainer {
  .container {
    &.view {
      width: auto;
      pointer-events: none;
      white-space: nowrap;
      padding: 2.5%;
      height: auto;
      margin-bottom: 5%;

      .backgroundContainer {
        margin: 0 5% 0 5%;
        min-width: 0;
      }

      .itemDetail {
        display: flex;
        flex-direction: column;
        margin: 0 5% 0 5%;
        align-self: center;
        width: auto;

        div {
          display: flex;
          white-space: nowrap;
          margin: 1%;

          &.description {
            .itemDetailValue {
              display: block;
              white-space: break-spaces;
              text-align: justify;
            }
          }

          &.places {
            .itemDetailValue {
              display: block;
              white-space: break-spaces;
            }
          }

          .itemDetailName {
            font-weight: bold;
            margin-right: 2.5%;
            align-self: center;
          }

          .itemDetailValue {
            align-self: center;
          }
        }
      }

      .image {
        position: absolute;
        height: auto;
        width: auto;
        max-width: 25%;
        max-height: 25%;
        z-index: 50;
        top: 5%;
        right: 5%;
      }
    }
  }
}