{% set title = "Itinéraires" %}

{% extends 'layout/base.html.twig' %}
{% block body %}
    <h1>{{ title }}</h1>
    <div class="listContainer">
        <div class="container" id="addContainer" onclick="location='{{ path('itinerary_add') }}'">
            <div class="name">+</div>
        </div>
        {% for itinerary in itineraries %}
            <div class="container" onclick="location='{{ path('itinerary_read', {id: itinerary.id}) }}'">
                <div class="backgroundContainer">
                    <div class="name">{{ itinerary.name }}</div>
                </div>
                <div class="icons">
                    <i class="las la-trash"></i>
                    <i class="las la-edit"></i>
                    <i class="las la-eye"></i>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


