{% set title = "Itinerary" %}

{% extends 'layout/base.html.twig' %}
{% block body %}
    <div class="listContainer">
        <div class="container">
            <div class="name">{{ itinerary.name }}</div>
        </div>
        <div onclick="location='{{ path('itinerary_index') }}'">Back</div>
        <div onclick="location='{{ path('itinerary_edit', {id: itinerary.id}) }}'">Edit</div>
        <div onclick="location='{{ path('itinerary_delete', {id: itinerary.id}) }}'">Delete</div>
    </div>
{% endblock %}


