.text-center {
    text-align: center;
}

.text-white {
    color: $white;
}

h1 {
    font-size: $h1-size;
}

.wave-green {
    fill: #689F38;
}

.text-muted {
    color: $text-muted !important;
}

.italic {
    font-style: italic;
}

.position-relative {
    position: relative;
}
