/** COLORS **/
$white: #FFFFFF;
$green: #689F38;
$text-muted: #6c757d;
$light-gray: #eeeeee;
$error: #f12525;

$h1-size: 3em;
$h2-size: 2em;

$input-height: 40px;
$input-background: #f7fafb;
$border-radius-size: 5px;

$z-index-loader: 999;
