<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% if title is defined %}
                {{ title ~ ' - ' ~ app_name }}
            {% else %}
                {{ app_name }}
            {% endif %}
        </title>

        <link rel="stylesheet" href="/assets/styles/app.css">

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>

        <nav></nav>

        <div class="content position-relative">
            {% block body %}{% endblock %}
        </div>

        {% if footer is not defined or footer != false %}
            {% include 'layout/footer.html.twig' %}
        {% endif %}

        {% block javascriptsCustom %}{% endblock %}
    </body>
</html>
